<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/saunas"><i class="fas fa-hot-tub me-2"></i>SaunaProject</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link px-3" href="/saunas"><i class="fas fa-home me-1"></i>ホーム</a>
                <a class="nav-link px-3" href="/saunas"><i class="fas fa-list me-1"></i>サウナ施設</a>
                <a class="nav-link px-3" href="/saunas/new"><i class="fas fa-plus-circle me-1"></i>新規登録</a>
            </div>
        </div>
    </div>
</nav>